body{ width:100%; height: 100%}

.container{
	position: absolute;
	width: 100%; height: 100%;
	margin: 0px auto;
	perspective: 800px;
	overflow: hidden;
	box-sizing: border-box;
}
.wrapper{
	width: 100%; height: 100%;
	position: relative;
	margin: auto;
	transform-style: preserve-3d;
	transition-duration: 1s;
}


.wrapper > .page{ 
	position: absolute;
	width: 100%; height: 100%;
	position: absolute;
	left: 0; top: 0;
	padding-top: 10px;
	backface-visibility: hidden;
}
div#in_page {
	margin: 0 auto;
	width: 1554px;
	height: 100%;
	text-align: left;
	min-height: 300px;
	margin: 0 auto;
}
header, footer, aside, section {
	border: 1px solid #999;
	margin: 5px;
	padding: 10px;
}
header {
	height: 50px;
	background-color: red;
}

#top_logo{
	text-align: left;
}
section, aside {
	float: left;
	height: 1000px;
}

section {
	background-color: green;	
	width: 604px; 
}
aside {
	background-color: goldenrod;
	width: 250px; 
}
footer {
	height: 50px;
	background-color: blue;
	position: relatiev;
	clear: both;
}
article {
	width: 90%;
	margin: 20px;
	background-color: #999;
}

/* .page > h1{ 
	padding: 1px; 
	color: white;
} */
/* .wrapper > .page:nth-child(1){
	background-image:;
	background-size: cover;
}
.wrapper > .page:nth-child(2){
	background-image: ;
	background-size: cover;			
}	
 */



#indicator{ 
	text-align: center; margin-top: 20px;
	position: absolute;
	left: 0;right: 0; bottom: 20px;
}

#indicator li{
	display: inline-block;
	font-size: 12px;
	padding: 5px 10px; margin: 5px;
	border: 1px solid #999;
	border-radius: 50%;
	color: white;
	cursor: pointer;
}
#indicator li.active{ 
	background-color: rgba(50%,50%,50%, 0.5);
	color: white;
}